<div class="header">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/obser" routerLinkActive="active">Obser</a>
  <a routerLink="/tdf" routerLinkActive="active">TDF</a>
  <a routerLink="/mdf" routerLinkActive="active">MDF</a>
  <!-- <a routerLink="/dircomponent" routerLinkActive="active">Directive Component</a>
  <a routerLink="/PC" routerLinkActive="active">P TO C</a>
  <a routerLink="/CP" routerLinkActive="active">C TO P</a> -->
  <a routerLink="/newtdf" routerLinkActive="active">NEWTDF</a>
  <a routerLink="/foot">Foot</a>
  <!-- <a routerLink="/viewchild" routerLinkActive="active">View Child</a> -->
  <a routerLink="/speak-factory/power-list">Power</a>
  <a routerLink="/ngContainer" routerLinkActive="active">Ng-Container</a>
  <a routerLink="/passtel" routerLinkActive="active">Input Template</a>
  <a routerLink="/skill-list/skills">skill-listModule</a>
  <a routerLink="/speak-factory/speak-list">SpeakM</a>
</div>
